<div class="container-fluid">
    <div class="row header">
        <div class="col-6">
            <h4 class="text-white">Student Portal</h4>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-outline-info" (click)="openModel()">Add Student</button>
        </div>
    </div>
    <div class="row">
        @for (std of studentList; track $index) {
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ std.name | uppercase }}
                        </div>
                        <div class="col-6 text-end">
                            {{std.mobile}}
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <p> <b>Email : </b><span style="float: right;">{{ std.email }}</span> </p>
                    <p><span><b>Gender: </b>{{ std.gender | titlecase }}</span><span style="float: right;"><b>DOJ :
                            </b>{{ std.doj
                            }}</span></p>
                    <p><b>Address : </b><span style="float: right;">{{ std.address }}</span></p>
                    <p><b>Status : </b><span style="float: right;">{{ std.status ? 'Active' : 'InActive'}}</span></p>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <i (click)="onEditStudetn(std)" class="btn fa fa-edit text-primary"
                                style="font-size: 25px;"></i>
                        </div>
                        <div class="col-6 text-end">
                            <i (click)="onDeleteStudent(std)" class="btn fa fa-trash text-danger"
                                style="font-size: 25px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        }

    </div>
</div>

<div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                @if(studentObj.id == 0)
                {
                <h4 class="modal-title">Add Student</h4>
                }
                @else {
                <h4 class="modal-title">Update Student</h4>
                }

                <button type="button" class="btn-close" (click)="closeMedel()"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <input type="text" [(ngModel)]="studentObj.name" class="form-control" placeholder="Name"
                            name="name">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <input type="text" [(ngModel)]="studentObj.email" class="form-control" placeholder="Email"
                            name="email">
                    </div>
                    <div class="col-6">
                        <input type="text" [(ngModel)]="studentObj.mobile" class="form-control" placeholder="Mobile"
                            name="mobile">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <select class="form-control" [(ngModel)]="studentObj.gender">
                            <option value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <input type="date" [(ngModel)]="studentObj.doj" class="form-control" placeholder="DOJ"
                            name="doj">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <textarea cols="5" rows="3" [(ngModel)]="studentObj.address" type="text" placeholder="Address"
                            class="form-control"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="form-group form-check">
                            <input type="checkbox" [(ngModel)]="studentObj.status" class="form-check-input">
                            <label> Active</label>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closeMedel()">Close</button>
                @if(studentObj.id == 0)
                {
                <button type="button" class="btn btn-primary" (click)="onSaveform()">Save</button>
                }
                @else{
                <button type="button" class="btn btn-primary" (click)="onUpdateform()">Update</button>
                }

            </div>

        </div>
    </div>
</div>